@*@model List<TicketGenerator.Models.Tickect>*@
@model TicketGenerator.Models.Tickect

<style>
table {
        width: 100%
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color:Silver
}

th,td {
  padding: 5px;
  text-align: left;
}
</style>



<html>
<head>
    <meta name="viewport" content="width=device-width"/>

    <title>Index</title>
</head>
<body>
   
<hr/>
<table >
        <tr>
            <th>TicketNo</th>
            <th>Title</th>
            <th>Message</th>
            <th>DateAndTime</th>
            <th>Status</th>
            <th>AssignTo</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.TicketNo)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.Title)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.Message)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.DateAndTime)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.Status)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.AssignTo)</td>
        </tr>

       
            @*<tr>
                <td>@ViewBag.TicketNo</td>
                <td>@ViewBag.Title</td>
                <td>@ViewBag.Message</td>
                <td>@ViewBag.DataTime</td>
                <td>@ViewBag.Status</td>
                <td>@ViewBag.AssignTo</td>
            </tr>*@
        
</table>


</body>
</html>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
