
@model TicketGenerator.Models.Tickect


<html>
<head>
    <meta name="viewport" content="width=device-width"/>

    <title>Index</title>
</head>
<body>
    <h4>Customers</h4>
    <hr/>
    <table cellpadding="1" cellspacing="1">
        <tr>
            <th>TicketNo</th>
            <th>Title</th>
            <th>Message</th>
            <th>DateAndTime</th>
            <th>Status</th>
            <th>AssignTo</th>
        </tr>
        
            <tr>
                <td>@ViewBag.TicketNo</td>
                <td>@ViewBag.Title</td>
                <td>@ViewBag.Message</td>
                <td>@ViewBag.DataTime</td>
                 <td>@ViewBag.Status</td>
                  <td>@ViewBag.AssignTo</td>
            </tr>
        
    </table>
</body>
</html>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}